.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, auto);
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  grid-row: 1;
  grid-column: 1 / 6;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.letter-input-container {
  grid-column: 1 / 6;
	margin: auto;
	max-width: 542px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: end;
}

.mystery-word {
  max-width: 100%;
  grid-column: 1 / 6;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tried-letter-container {
  grid-row: 4;
  grid-column: 1 / 6;
}

.hang-drawing {
  grid-row: 3;
  grid-column: 2 / 5;
}
.remaning-tries-container {
  grid-row: 3;
  grid-column: 5;
  align-self: center;
}

@media only screen and (max-width: 600px){
  .App-title {
    margin: 0;
    font-size: 1em;
    text-align: left;
  }
  .App-header {
    padding: 10px;
  }
  .remaning-tries-container {
    background-color: #222;
    color: #EEE;
    grid-column: 4 / 6;
    grid-row: 1;
    font-size: 10px;
  }
}
