.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.hangman-body {
	margin: auto;
	width: 65%;
	border: solid black 1px;
}

.letter-input-container {
	margin: auto;
	max-width: 542px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

