.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.hangman-body {
	margin: auto;
	width: 65%;
}

.letter-input-container {
	margin: auto;
	max-width: 542px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mystery-word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tried-letter-container {
  height: 50px
}

.hang-drawing {
  height: 300px;
}