.mystery-letter {
	width: 50px;
	height: 65px;
	border-bottom: 5px #222 solid;
	color: #1B1B1B;
	margin: 10px;
	font-size: 30px;
	padding-top:22px;
	user-select: none;

}
.mystery-letter.success {
	color: #558b2f;
}
.mystery-letter.missed {
	color: #bf360c;
}
.mystery-letter.space {
	border: none;
}
@media only screen and (max-width: 600px){
	.mystery-letter {
		font-size: 20px;
		height: 40px;
		width: 40px;
		padding-top: 7px;
		margin: 7px;
	}
}